
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_layout_temp.cshtml";
}

<h1>Home</h1>
<br />
@Html.ActionLink("Create Employee", "Create", "Employee")<br /><br />
@Html.ActionLink("Edit Employee", "Edit", "Employee")
