@using MvcReportViewer;
@{
    ViewBag.Title = "RDLCReport";
}

<br />

<div style="width:100%; height:100%;">

    <iframe style="width:100%; height:100%;" src="~/Employees Report Render/EmployeesForm.aspx"></iframe>

</div>